
body{
    background-color: orange;
    font-family: Arial, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    max-width: 1200px;
    line-height: 2
}

h1{
    color: rgb(0, 0, 0);
    position: absolute;
top: 40px; left: 40px;
    font-size: 36px;
}

body, h1, {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p1,p2,p3,p4,p5,p6,p7,p8,p9,p10{
    font-size: 24px;
color: white
}
p21{zoom: 80%;}
p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20{
    position: absolute;
    top: auto; bottom: auto; left: 17%; right: 17%;
    zoom: 80%;
}


